{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>CMS | {% block title %}{% endblock %}</title>
  {% include 'dashboard/base/style.html' %}
  {% block style %}{% endblock %}
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  {% include 'dashboard/base/navbar.html' %}

  {% include 'dashboard/base/sidebar.html' %}

  <div class="content-wrapper">

    {% block content %}

    {% endblock %}

  </div>

{% include 'dashboard/base/footer.html' %}
</div>

{% include 'dashboard/base/script.html' %}
{% block script %}{% endblock %}
</body>
</html>