{% load static %}
<!-- jQuery -->
<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'assets/vendor/popper/popper.min.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'assets/vendor/metisMenu/metisMenu.min.js' %}"></script>

<!-- DataTables JavaScript -->
<script src="{% static 'assets/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static 'assets/dist/js/sb-admin-2.js' %}"></script>
