        <div class="sidebar" role="navigation">
            <div class="sidebar-nav collapse navbar-collapse show" id="side-menu-wrapper">
                <ul class="nav navbar-nav navbar-collapse flex-column side-nav list-group" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form d-ltr">
                            <span class="input-group-btn">
                                <button class="btn btn-white" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            <input type="text" class="form-control d-rtl" placeholder="جستجو ...">
                        </div>
                    </li>
                    <li class="list-group-item">
                        <a href="index.html"><i class="fa fa-dashboard fa-fw"></i>داشبورد</a>
                    </li>
                </ul>
            </div>
        </div>