{% extends 'dashboard/base/main.html' %}

{% block title %}Dashboard{% endblock %}

{% block style %}

{% endblock %}

{% block content %}

    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">پست ها</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">پست جدید</li>
              <li class="breadcrumb-item"><a href="{% url 'post_list' %}">پست ها</a></li>
              <li class="breadcrumb-item"><a href="{% url 'index' %}">خانه</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <section class="col-lg-8 connectedSortable">
            <div class="card">
              <div class="card-header d-flex p-0">
                <h3 class="card-title p-3">
                  <i class="fas fa-table mr-1"></i>
                  ایجاد پست جدید
                </h3>
              </div>
              <div class="card-body">
                <div class="tab-content p-0">
                  <form role="form" method="POST">
                    {% csrf_token %}

                    {{ form}}

                    <br>
                    <button type="submit" class="btn btn-primary">
                        ثبت
                    </button>
                </form>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
{% endblock %}

{% block script %}

{% endblock %}